# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/crash.*.log

# Ansible
**/*.retry

# Environment / secrets
**/.env
**/.env.*
!**/.env.example

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
