APP_PORT=3000
SERVER_URL={{ server_url }}

TWENTY_ENCRYPTION_KEY={{ encryption_key }}
APP_SECRET={{ app_secret }}

PG_DATABASE_URL=postgres://{{ pg_user }}:{{ pg_password }}@db:5432/{{ pg_db }}
PG_PASSWORD={{ pg_password }}

STORAGE_TYPE=local
STORAGE_LOCAL_PATH=/app/files

REDIS_URL=redis://redis:{{ redis_port }}

TELEMETRY_ENABLED=false
