# State files
*.tfstate
*.tfstate.*
*.backup

# Variable values with secrets
terraform.tfvars

# Secrets file
.secrets

# Terraform internals
.terraform/
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
