aws_region                = "us-east-1"
instance_type             = "t3.small"
key_name                  = "YOUR_EC2_KEY_PAIR_NAME"
environment               = "dev"
project_name              = "twenty-crm"
owner                     = "YOUR_NAME"
ami_id                    = "YOUR_APPROVED_AMI_ID"
iam_instance_profile_name = "YOUR_IAM_INSTANCE_PROFILE"
s3_bucket_name            = "YOUR_UNIQUE_S3_BUCKET_NAME"
ecr_repository_name       = "YOUR_ECR_REPOSITORY_NAME"
