TAG={{ twenty_tag }}

PG_DATABASE_USER={{ pg_database_user }}
PG_DATABASE_PASSWORD={{ pg_database_password }}
PG_DATABASE_HOST={{ pg_database_host }}
PG_DATABASE_PORT={{ pg_database_port }}
PG_DATABASE_NAME={{ pg_database_name }}

REDIS_URL={{ redis_url }}

SERVER_URL={{ server_url }}

ENCRYPTION_KEY={{ encryption_key }}

STORAGE_TYPE={{ storage_type }}
