PG_DATABASE_USER={{ postgres_user }}
PG_DATABASE_PASSWORD={{ postgres_password }}
PG_DATABASE_NAME={{ postgres_database }}
SERVER_URL={{ twenty_server_url }}
REDIS_URL=redis://redis:6379
ENCRYPTION_KEY={{ encryption_key }}
STORAGE_TYPE=local